<div class="w3-content w3-padding-32">
<nav class="navbar" >
<div class="w3-left">
   
     <a href="#home" > Job Hunting Platform</a>
</div>
<div class="w3-right">
<a href="#main">Home</a>
<a href="#download">Download</a>
<a href="#contact">Contact</a>
</div>
</nav>
</div>  